<% rooms.each do |room| %>

  <div class="card mb-3 shadow mr-3 img-thumbnail">
    <div id="carouselExampleIndicators" class="carousel slide" data-touch="false">
      <ol class="carousel-indicators">
        <% room.images.each_with_index do |image, index| %>
          <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
        <% end %>
      </ol>

      <div class="carousel-inner">
        <% room.images.each_with_index do |image, index| %>
          <div class="carousel-item <%= 'active' if index == 0 %>">
            <%= link_to public_room_path(room) do %>
             <%= image_tag image, size: "370x270", class:"partial-image" %>
            <% end %>
          </div>
        <% end %>
      </div>

      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">前へ</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">次へ</span>
      </a>
    </div>

    <div class="card-body">
        <p class="card-title h5 font-weight-bold">
          <%= link_to public_room_path(room) do %>
            <%= room.title %>
          <% end %>
        </p>
        <p class="btn btn-secondary btn-sm text-white"><i class="fa-solid fa-tag"></i><%= room.category.name %></p>
        <p><small class="text-muted">投稿日：<%= room.created_at.strftime("%Y-%m-%d") %><br>posted by <%= room.user.name %></small></p>
    </div>

    <div class="card-footer">
      <div class="row d-flex justify-content-center">
        <div class="mx-3" id="likes_form_<%= room.id %>">
          <%= render 'public/likes/form', room: room %>
        </div>

        <div class="mx-3" id="bookmarks_form_<%= room.id %>">
          <%= render 'public/bookmarks/form', room: room %>
        </div>

        <div class="mx-3 text-primary">
          <i class="fa-regular fa-message"></i> <%= room.comments.count %>
        </div>
      </div>
    </div>

  </div>

<% end %>