<% rooms.each do |room| %>
  <div class="card mb-3 shadow mr-3 img-thumbnail">
  	<%= link_to public_room_path(room) do %>
      <%= image_tag room.image, size: "370x270", class:"partial-image" %>
    <% end %>
    <div class="card-body">
      <div class="">
        <p class="card-title h5 font-weight-bold"><%= room.title %></p>
        <p class="btn btn-secondary btn-sm text-white"><i class="fa-solid fa-tag"></i>️ <%= room.category.name %></p>
        <p><small class="text-muted">投稿日：<%= room.created_at.strftime("%Y-%m-%d") %><br>posted by <%= room.user.name %></small></p>
      </div>
    </div>
    <div class="card-footer">
      <% if current_user %>
        <%= render 'public/bookmarks/form', room: room %>

        <%= render 'public/likes/form', room: room %>
      <% end %>
    </div>
  </div>
<% end %>