<p id="notice"><%= notice %></p>

<h1>Rooms</h1>


    <% @rooms.each do |room| %>
      <%= link_to public_room_path(room) do %>
				  <%= image_tag room.image, size: "300x250" %>
			  <% end %></br>
			  <p class="ml-2 mt-2"><%= room.title %></p>
				<div class="ml-2 text-secondary">#<%= room.category.name %></div>
				<div>投稿日：<%= room.created_at.strftime("%Y-%m-%d") %></div>
    <% end %>

<br>

<%= link_to 'New Room', new_public_room_path %>
