
<div class="row">

<div class="col-xl-6 d-flex justify-content-center">
  <div class="ml-5">

      <%= image_tag @room.image, size: "600x400", class: "bg-white border shadow p-1 m-4" %>


</div>
</div>


<div class="col-xl-4 d-flex align-items-center">
  <table class="table table-bordered bg-white">
      <tr>
        <th class="w-25">タイトル</th>
        <td><%= @room.title %></td>
      </tr>
      <tr>
        <th>投稿者</th>
        <td><%= @room.user.name %></td>
      </tr>
      <tr>
        <th>説明</th>
        <td><%= @room.body %></td>
      </tr>
      <tr>
        <th>投稿日</th>
        <td><%= @room.created_at.strftime("%Y年%m月%d日") %></td>
      </tr>
  </table>

</div>




<div class="container">
  <div class="row">
<div class="col-10">


<div id="comments_area">
    <%= render "public/comments/index", comments: @comments, room: @room %>
</div>

<div>
    <%= render "public/comments/form", room: @room, comment: @comment %>
</div>

</div>
</div>
</div>


<div class="col-xl-2">
<%= render 'right', categories: @categories, rooms: @rooms %>
</div>
</div>
</div>
<%= link_to "D", public_room_path(@room), method: :delete %>


<script>
 var isGuest = <%= @isGuest %>;
 if (isGuest) {
   document.querySelector('.guest-form .overlay').style.display = 'block';
 }
</script>