
<div class="row">

<div class="col-md-5">
  <div class="ml-5">

  	<%= link_to public_room_path(@room) do %>
      <%= image_tag @room.image, size: "600x400", class: "bg-white border shadow p-1 m-4" %>
    <% end %>

</div>
</div>


<div class="col-md-4 d-flex align-items-center">
  <table class="table table-bordered bg-white">
      <tr>
        <th class="w-25">タイトル</th>
        <td><%= @room.title %></td>
      </tr>
      <tr>
        <th>投稿者</th>
        <td><%= @room.user.name %></td>
      </tr>
      <tr>
        <th>説明</th>
        <td><%= @room.body %></td>
      </tr>
      <tr>
        <th>投稿日</th>
        <td><%= @room.created_at.strftime("%Y年%m月%d日") %></td>
      </tr>
  </table>
</div>

</div>


<p>コメント</p>
<% @comments.each do |comment| %>
 <p>
   <strong><%= comment.user.name %>:</strong>
   <%= comment.comment %>
 </p>
<% end %>


 <!-- コメントフォームのコード -->
<div class="guest-form">
  <%= form_with model: [@room, @comment], url: public_room_path(@room), local: true do |f| %>
    <%= f.text_area :comment, rows:'5', placeholder: "コメントをここに", class: "w-100" %>
  <%= f.submit "送信" %>
  <% end %>
  <div class="overlay">
   <div class="message">コメントは会員限定です</div>
  </div>
</div>

<%= link_to "D", public_room_path(@room), method: :delete %>
</div>
</div>


<script>
 var isGuest = <%= @isGuest %>;
 if (isGuest) {
   document.querySelector('.guest-form .overlay').style.display = 'block';
 }
</script>