<div class="container">
   <%= render 'layouts/flash'%>
  <div class="row">
    <div class="my-5">
      <table class='table table-hover table-inverse table-light table-fixed' width="100%">
        <thead class="table-dark">
          <tr>
            <th width="10%">ID</th>
            <th width="30%">ニックネーム</th>
            <th width="30%">メールアドレス</th>
            <th width="10%">投稿数</th>
            <th width="20%">最終ログイン</th>
          </tr>
        </thead>
        <tbody>
         <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td style="word-wrap:break-word;"><%= user.name %></td>
            <td style="word-wrap:break-word;"><%= user.email %></td>
            <td><%= user.rooms.count %></td>
            <td><%= user.last_login_time %></td>
          <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>