<h1>ユーザー情報編集</h1>

<%= form_with model: @user, url: public_user_path(@user) do |f| %>

  <%= f.label :ニックネーム, class: "mr-4" %>
  <%= f.text_field :name, class: "form-control name" %>

  <%= f.label :メールアドレス, class: "mr-4" %>
  <%= f.text_field :email, class: "form-control name" %>

    <%= f.submit :更新, class: 'btn btn-success btn-lg' %>
<% end %>



