<div class="container d-flex justify-content-center">
  <div class="col-6 d-flex justify-content-center border rounded p-3 shadow bg-white mt-5">
    <div class="text-center">
      <div class="m-3 h3 font-weight-bold">ユーザー情報編集</div>
      <%= render 'layouts/errors', obj: @user %>
      <%= form_with model: @user, url: public_user_path(@user) do |f| %>
        <div class="text-left">
          <div class="my-4">
            <%= f.label :プロフィール画像, class: "font-weight-bold" %>
            <%= f.file_field :profile_image, class: "form-control-file user_image", accept: 'image/*' %>
          </div>
          <div class="my-4">
            <%= f.label :ニックネーム, class: "font-weight-bold" %>
            <%= f.text_field :name, class: "form-control name" %>
          </div>
        </div>
        <%= f.submit :更新, class: "btn btn-success rounded-pill form-control w-100" %>
      <% end %>

    </div>
  </div>
</div>




