<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <p class="nav-link active">
              ニックネーム<br>
              <%= @user.name %>
            </p>
          </li>
          <li class="nav-item">
            <p class="nav-link">
              メールアドレス<br>
              <%= @user.email %>
            </p>
          </li>
        </ul>
        <hr>
        <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>コンテンツ</span>
        </h5>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <div class="nav-link">
              <%= link_to  post_public_user_path(current_user) do %>
                <i class="fa-solid fa-newspaper mr-3"></i>投稿記事
              <% end %>
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link">
              <%= link_to  public_user_bookmarks_path(current_user) do %>
                <i class="fa-solid fa-folder mr-3"></i>マイリスト
              <% end %>
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link">
              <%= link_to edit_public_user_path(@user) do %>
                <i class="fa-solid fa-gear mr-3"></i>プロフィール編集
              <% end %>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              年末販売
            </a>
          </li>
        </ul>
      </div>
    </nav>


    <div class="col-md-10">
      <div class="h2 m-4 font-weight-bold">
        <%= @user.name %>さんのマイページ
      </div>
      <hr>
      <div class="d-flex justify-content-center">
      <div class="col-xl-8 col-md-11 bg-light rounded shadow">
        <div class="row d-flex align-items-center p-4 px-5">

      <div class="col h4 font-weight-bold">投稿した部屋(最新3件)</div>
      <div class="col text-right">

      <%= link_to  post_public_user_path(current_user), class: "btn btn-success rounded-pill px-3" do %>
                もっと見る
              <% end %>
              </div>

   </div>
<hr>
      <div class="d-flex justify-content-center">
      <div class="user-show-post">
        <div class="row ml-1">
          <%= render 'public/rooms/index', rooms: @latest_rooms %>
        </div>
      </div>
      </div>
      </div>
       </div>

       <hr>
      <div class="d-flex justify-content-center">
      <div class="col-xl-8 col-md-11 bg-light rounded shadow">
        <div class="row d-flex align-items-center p-4 px-5">
      <div class="col h4 font-weight-bold">マイリスト(最新3件)</div>
      <div class="col text-right">

      <%= link_to  public_user_bookmarks_path(current_user), class: "btn btn-success rounded-pill px-2" do %>
                もっと見る
              <% end %>
              </div>
                 </div>
<hr>
      <div class="d-flex justify-content-center">
      <div class="user-show-post">
        <div class="row ml-1">
          <%= render 'public/rooms/index', rooms: @lastest_bookmark %>
        </div>
      </div>
      </div>
      </div>
       </div>
    </div>
  </div>
</div>