<li class="nav-item">
  <div class="nav-link">
    <%= link_to  admin_users_path do %>
      ユーザー
    <% end %>
  </div>
</li>

<li class="nav-item">
  <div class="nav-link">
    <%= link_to admin_rooms_path do %>
      投稿（管理者）
    <% end %>
  </div>
</li>

<li class="nav-item">
  <div class="nav-link">
    <%= link_to  public_rooms_path do %>
      投稿（一般）
    <% end %>
  </div>
</li>

<li class="nav-item">
  <div class="nav-link">
    <%= link_to  admin_comments_path do %>
      コメント
    <% end %>
  </div>
</li>

<li class="nav-item">
  <div class="nav-link">
    <%= link_to  admin_categories_path do %>
      カテゴリー
    <% end %>
  </div>
</li>

