<header class="shadow">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

      <div class="navbar-brand">
        <%= link_to  root_path do %>
          <%= image_tag 'heyamoyou_logo.png', size: "140x45" %>
        <% end %>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar-header">
        <ul class="navbar-nav mr-auto">
          <% if admin_signed_in? %>

            <%= render 'layouts/admin_header' %>

          <% elsif user_signed_in? %>

            <li class="nav-item dropdown">
              <div class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <a href="#"><i class="fa-solid fa-user"></i> マイページ</a>
              </div>

              <div class="dropdown-menu">
                <div class="dropdown-item">
                  <%= link_to public_user_path(current_user) do %>
                    <i class="fa-solid fa-user"></i> マイページ
                  <% end %>
                </div>
                <% if current_user.email == "guest@example.com" %>
                  <a class="dropdown-item disabled">
                    <i class="fa-solid fa-newspaper"></i> 投稿記事
                  </a>
                  <a class="dropdown-item disabled">
                    <i class="fa-solid fa-folder"></i> マイリスト
                  </a>
                <% else %>
                  <div class="dropdown-item">
                    <%= link_to  post_public_user_path(current_user) do %>
                      <i class="fa-solid fa-newspaper"></i> 投稿記事
                    <% end %>
                  </div>
                  <div class="dropdown-item">
                    <%= link_to  public_user_bookmarks_path(current_user) do %>
                      <i class="fa-solid fa-folder"></i> マイリスト
                    <% end %>
                  </div>
                <% end %>
              </div>
            </li>

            <li class="nav-item">
              <div class="nav-link">
                <%= link_to  public_rooms_path do %>
                    <i class="fa-solid fa-couch"></i> 投稿一覧
                 <% end %>
               </div>
            </li>

            <li class="nav-item">
              <% if current_user.email == "guest@example.com" %>
                <a class="nav-link disabled">
                  <i class="fa-solid fa-pen-fancy"></i> 投稿する
                </a>
              <% else %>
                <div class="nav-link">
                  <%= link_to  new_public_room_path do %>
                    <i class="fa-solid fa-pen-fancy"></i> 投稿する
                  <% end %>
                </div>
              <% end %>
            </li>

            <li class="nav-item active">
              <div class="nav-link">
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa-solid fa-arrow-right-from-bracket"></i> ログアウト
                <% end %>
              </div>
            </li>

          <% else %>

            <li class="nav-item">
              <div class="nav-link">
                <%= link_to new_user_registration_path do %>
                  <i class="fas fa-user-plus"></i> 新規登録
                <% end %>
              </div>
            </li>

            <li class="nav-item">
              <div class="nav-link">
                <%= link_to new_user_session_path do %>
                  <i class="fa-solid fa-arrow-right-to-bracket"></i> ログイン
                <% end %>
              </div>
            </li>

          <% end %>

        </ul>

        <div class="form-inline my-2 my-md-0">
          <%= form_with url: public_search_path, method: :get, local: true do |f| %>
            <%= f.text_field :query, placeholder: "検索...", class: "form-control mr-sm-2" %>
            <%= f.submit "検索", class: "btn btn-outline-success my-2 my-sm-0" %>
          <% end %>
        </div>

      </div>
    </nav>
  </div>

</header>