<!DOCTYPE html>
<html>
  <head>
    <title>RoomLayout</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/76a51096e2.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'custom' %>
  </head>

  <body style= "background-color: #F2E9D9;">
    
    <div style="padding-top:56px">
    <%= render 'layouts/header' %>
    </div>
    
    <%= yield %>
  </body>
</html>
